---
import SliderMain from '@components/main/SliderMain.astro';
import Layout from '../layouts/Layout.astro';
import Programs from '@components/main/Programs.astro';
import Benefits from '@components/main/Benefits.astro';
import Publications from '@components/main/Publications.astro';
---

<Layout title="IESTP Carlos Cueto Fernandini">
  <SliderMain/>
  <h1 class="text-2xl font-semibold text-accentfirst dark:text-[#009AA6] text-center py-10 relative z-[900] lg:text-5xl sm:text-4xl">INSTITUTO CARLOS CUETO FERNANDINI</h1>
  <Programs />
  <Benefits />
  <Publications />
</Layout>